@import '../../styles/utils/';

.toolbarContainer {
  height: 5rem;
  border-bottom: 1px solid $gray-800;
}

.toolbarContent {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1120px;
  height: 5rem;
  
  nav {
    margin-left: 2rem;
    height: 5rem;

    a {
      position: relative;
      display: inline-block;
      padding: 0 .5rem;
      height: 5rem;
      line-height: 5rem;
      color: $gray-300;
      transition: color .2s ease-in-out;

      & + a {
        margin-left: 2rem;
      }
      &:hover {
        color: $gray-100;
      }

      &.active {
        color: $gray-100;
        font-weight: bold;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 1px;
          height: .2rem;
          background-color: $yellow-500;
          border-radius: .2rem .2rem 0 0;
        }
      }
    }
  }

  button {
    margin-left: auto;
  }
}