@import '../../styles/utils/';

.subscribeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.25rem;
  height: 4rem;
  background-color: $yellow-500;
  border-radius: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: $gray-900;
  transition: filter .2s ease-in-out;

  &:hover {
    filter: brightness(.8);
  }
}